<section class="vh-100 color-white">
  <div class="container py-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 0.5rem 0.5rem 0 0;">
          <div class="g-0 text-center mt-1">
              <h1 class="letter-700 ">Configuración de Propina</h1>
          </div>
        </div>
        <div class="card mt-3" style="border-radius: 0 0 0.5rem 0.5rem;">
          <h1>Funciona!</h1>
        </div>

      </div>
    </div>
  </div>
</section>
