<section class="vh-100 color-white">
  <div class="container py-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-12">
        <div class="card color-black" style="border-radius: 1rem;">
          <div class="g-0 mt-2 px-2">
            <h1 class="letter-700 letter-white">Usuarios</h1>
          </div>
        </div>
      </div>
      <div class="card card-total ">
        <div class="card-body table-responsive">
          <h3 style="text-align: center;">Usuarios</h3>
          <table class="table table-light">
            <thead class="table-dark">
            <tr>
              <td>Menú</td>
              <td>Cantidad</td>
              <td>Platillo</td>
              <td>Sub-total</td>
              <td></td>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
