<section class="vh-100 color-white">
  <div class="container py-5 mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-12">
        <div class="card" style="border-radius: 1rem;">
          <div class="g-0 text-center mt-2">
            <h1 class="letter-700 ">Agregar Producto</h1>
          </div>
        </div>
        <div class="card mt-3" style="border-radius: 1rem;">
          <div class="d-flex my-3 justify-content-center">
            <form >
              <div class="my-2">
                <input formControlName="name" type="text"  placeholder="Nombre" class="form-control form-control-md letter-400"/>
              </div>
              <div class="my-2">
                <textarea formControlName="description"  class="form-control form-control-sm letter-400">Descripción</textarea>
              </div>
              <div class="my-2">
                <input formControlName="file" type="file"  placeholder="Imagen" class="form-control form-control-md letter-400"/>
              </div>
              <div class="my-2">
                <input formControlName="price" type="text" placeholder="Precio" class="form-control form-control-md letter-400"/>
              </div>
              <div class="my-2">
                <select class="form-select form-select-md letter-400" >
                  <option selected>Tipo</option>
                  <option value="1">Entrada</option>
                  <option value="2">Plato Formal</option>
                  <option value="3">Bebida</option>
                  <option value="3">Postre</option>
                </select>
              </div>

              <div class="my-2">
                <button class="btn btn-dark btn-lg btn-block w-100 color-black" type="submit">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
